html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: verdana, geneva, serif;
  background-color: #EAEAEA;
}
header{
  padding: 20px 0;
}

div.contenedor{
  width: 1200px;
  margin: 0 auto;
}
/**Navegacion**/
.navegacion{
  background-color: red;
}
nav{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
nav ul{
  list-style: none;
}

nav > ul >li{
  float: left;
}
nav ul::after{
  content: '';
  display: block;
  clear: both;
}
nav ul li a{
  display: inline-block;
  width: 200px;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 20px;
}

nav ul li a:hover{
  background-color: white;
}
/* 2do Nivel */
nav ul ul{
  position: absolute;
  top: 100%;
  background-color: red;
  display: none;
}
nav ul li:hover > ul{
  display: block;
}

nav ul li:hover{
  background-color: red;
}
/* Contenido Principal */

div.contenido::after{
  content: '';
  display: block;
  clear: both;
}

main{
  width: 70%;
  float: left;
  padding-right: 40px;
}

article{
  margin-top: 30px;
}
h2{
  color: #000299;
  margin-bottom: 20px;
}
article img{
  float: left;
  width: 300px;
  margin-right: 30px;
}
article p{
  line-height: 2;
  text-align: justify;
}
/* sidebar */
aside{
  float: right;
  width: 30%;
  margin-top: 30px;
}
aside ul {
  list-style: none;
}
aside ul li{
  padding: 10px 0 10px 10px;
}
aside ul li:hover{
  background-color: red;
  cursor: pointer;
}
aside ul li a{
  color: red;
  text-decoration: none;
}
aside ul li:hover a{
  color: black;
}
/* footer */
footer{
    background-color: red;
    padding-top: 40px;
    margin-top: 30px;
}

footer h2{
  color: black;
}

footer div.nosotros{
  float: left;
  width: 30%;
}
footer div.menu{
  float: right;
  width: 40%;
  text-align: right;
}
footer .contenedor::after{
  content: '';
  display: block;
  clear: both;
}

footer nav{
  width: auto;
}

footer nav ul li a{
  width: auto;
}

p.copyrigth{
  padding: 20px 0;
  text-align: center;
}
